/* On travaille sur la balise body, donc sur TOUTE la page */
body
{
    background-color: rgb(145, 5, 138); /* Le fond de la page sera noir */
    color: rgb(255, 255, 255); /* Le texte de la page sera blanc */

}

.border1{
    background-color: aliceblue;
    border-top: 7px rgb(252, 0, 0) solid;
    padding: 20px;
    position: static;
    text-align: center;
    height: 40px;
    margin-top: 0.1cm;
    color: rgb(255, 0, 0);
    font-size: xx-large;  
  }

  .ryu{ position: absolute;
     top: 0.9%; 
     left: 4%; 
     height: 86px; 
     width: auto; 
    }

    .discord {
            height: 45px;
            position: absolute;
            top: 7.7cm;
            width: auto; 
            margin-right: 20px;
            color: white;
            font-size: 1.2em;
            border-radius: 5px;
            transition: all 0.2s;

        }

        .lettre {
            height: 40px;
            position: absolute;
            top: 9.7cm;
            width: auto; 
            margin-left: 22px;
            color: white;
            font-size: 1.2em;
            border-radius: 5px;
            transition: all 0.2s;

        }

        .lettre:hover{
            cursor: pointer;
            opacity: .5;
        }


        .discord:hover{
            cursor: pointer;
            opacity: .5;
        }



        .border2{
            background-color: aliceblue;
            border-top: 7px rgb(252, 0, 0) solid;
            padding: 2px;
            position: absolute;
            text-align: center;
            margin-top: 4.4cm;
            color: rgb(255, 0, 0);
            font-size: medium;  
            border-radius: 10px;
            font-size: 1.2em;
            width: 500px;
            margin-left: 996px;
            
          }


          .videoryu{
            color: #ff4754;
            background: #131416;
            border-radius: 5px;
            margin-top: 200px;
            margin-left: 1000px;
          }